body {
    min-height: 2000px;
    padding-top: 70px;
    padding-bottom: 40px;
}
.navbar {
    margin-bottom: 20px;
}
.profile-pic {
    height: 150px;
    width: 150px;
}
.top-padded {
    padding-top: 15px;
}
.logo {
    height: 100px;
}
.webpresence-entry {
    padding-bottom: 30px;
}