<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title ng-controller="biocontroller">{{bio.name}}</title>

    <!-- Bootstrap -->
    <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body role="document">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="navbarcontroller">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#">{{name}}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a>
                    </li>
                    <li><a href="#education">Education</a>
                    </li>
                    <li><a href="#work">Work</a>
                    </li>
                    <li><a href="#projects">Projects</a>
                    </li>
                    <li><a href="#contact">Contact</a>
                    </li>
                    <li><a href="#webpresence">Web Presence</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="showRightNav">
                    <li><a target="_blank" ng-href="{{resumelink}}" ng-show="resumelink">Download Resume</a>
                    </li>
                    <li><a ng-href="{{default_email}}" ng-show="hasDefaultEmail">Mail me</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div ng-controller="biocontroller">
            <div class="jumbotron" id="home">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="./data/photo.jpg" class="img-circle center-block profile-pic" alt="Profile picture">
                        </div>
                        <div class="col-sm-8">
                            <h1>{{bio.name}}</h1>
                            <p class="lead text-muted" ng-show="bio.tagline"><em>{{bio.tagline}}</em>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="bio.aboutme">
                <h1 class="page-header">About me</h1>
                <div ng-repeat="chunk in bio.aboutme">
                    <div ng-if="chunk.type === 'para'">
                        <p ng-show="chunk.text">{{chunk.text}}</p>
                    </div>
                    <div ng-if="chunk.type === 'bullets'">
                        <ul ng-if="chunk.points.length > 0">
                            <li ng-repeat="point in chunk.points">{{point}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->

    <div class="container" ng-controller="educationcontroller" id="education">
        <h1 class="page-header">Education</h1>
        <div ng-repeat="institution in education.institutions">
            <h3>{{institution.name}}<span class="text-muted pull-right"><em>({{institution.duration}})</em></span></h3>
            <div class="container-fluid top-padded">
                <div class="row">
                    <div class="col-sm-8">
                        <table class="table table-bordered">
                            <tbody>
                                <tr class="success" ng-show="institution.degree" data-toggle="tooltip" data-placement="top" title="{{institution.role}}" tooltip>
                                    <th>Degree</th>
                                    <td>{{institution.degree}}</td>
                                </tr>
                                <tr ng-if="institution.degree == '' && institution.role">
                                    <th>Role</th>
                                    <td>{{institution.role}}</td>
                                </tr>
                                <tr ng-show="institution.major">
                                    <th>Major</th>
                                    <td>{{institution.major}}</td>
                                </tr>
                                <tr ng-show="institution.minor">
                                    <th>Minor</th>
                                    <td>{{institution.minor}}</td>
                                </tr>
                                <tr ng-show="institution.gpa">
                                    <th>GPA</th>
                                    <td>{{institution.gpa}}</td>
                                </tr>
                                <tr ng-show="institution.courses">
                                    <th>Courses</th>
                                    <td>{{institution.courses.join(", ")}}</td>
                                </tr>
                                <tr ng-show="institution.location">
                                    <th>Location</th>
                                    <td>{{institution.location}}</td>
                                </tr>
                                <tr ng-show="institution.link">
                                    <th>Link</th>
                                    <td><a target="_blank" ng-href="{{institution.link}}">{{institution.link}}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 hidden-xs">
                        <img class="logo center-block" ng-show="institution.logo_link" ng-src="{{institution.logo_link}}" alt="logo" />{{institute.logo_link}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->

    <div class="container" id="contact" ng-controller="contactcontroller">
        <h1 class="page-header">Contact</h1>
        <div class="row">
            <div class="col-md-4">
                <div ng-show="contact.phones">
                    <h3>Phones</h3>
                    <div class="container-fluid top-padded">
                        <table class="table table-bordered">
                            <tbody>
                                <tr ng-repeat="phone in contact.phones">
                                    <th>{{phone.name}}</th>
                                    <td><a ng-href="tel:{{phone.number}}">{{phone.number}}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div ng-show="contact.emails">
                    <h3>Emails</h3>
                    <div class="container-fluid top-padded">
                        <table class="table table-bordered">
                            <tbody>
                                <tr ng-repeat="email in contact.emails">
                                    <th>{{email.name}}</th>
                                    <td><a ng-href="mailto:{{email.email}}">{{email.email}}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div ng-show="contact.websites">
                    <h3>Websites</h3>
                    <div class="container-fluid top-padded">
                        <table class="table table-bordered">
                            <tbody>
                                <tr ng-repeat="website in contact.websites">
                                    <th>{{website.name}}</th>
                                    <td><a target="_blank" ng-href="{{website.link}}">{{website.link}}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="contact.address">
            <h3>Address</h3>
            <address>
                <strong>{{contact.address.name}}</strong><br>
                {{contact.address.line1}}<br/>
                {{contact.address.line2}}<br/>
                {{contact.address.city}}<span ng-if="contact.address.city && contact.address.state">, </span>{{contact.address.state}}<br/>
                {{contact.address.country}}<br/>
            </address>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Angular -->
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./data/bio.js"></script>
    <script src="./data/education.js"></script>
    <script src="./data/contact.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/data.js"></script>
    <script src="./js/controllers.js"></script>
    <script src="./js/directives.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $.ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                'placement': 'top'
            });
        });
    </script>
</body>

</html>