<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title ng-controller="biocontroller">{{bio.name}}</title>

    <!-- Bootstrap -->
    <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body role="document">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="navbarcontroller">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#">{{name}}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a>
                    </li>
                    <li><a href="#education">Education</a>
                    </li>
                    <li><a href="#work">Work</a>
                    </li>
                    <li><a href="#projects">Projects</a>
                    </li>
                    <li><a href="#contact">Contact</a>
                    </li>
                    <li><a href="#webpresence">Web Presence</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="showRightNav">
                    <li><a target="_blank" ng-href="{{resumelink}}" ng-show="resumelink">Download Resume</a>
                    </li>
                    <li><a ng-href="{{default_email}}" ng-show="hasDefaultEmail">Mail me</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div ng-controller="biocontroller">
            <div class="jumbotron" id="home">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="./data/photo.jpg" class="img-circle img-responsive center-block" alt="Profile picture">
                        </div>
                        <div class="col-sm-9">
                            <h1>{{bio.name}}</h1>
                            <p class="lead text-muted" ng-show="bio.tagline"><em>{{bio.tagline}}</em>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="bio.aboutme">
                <h1 class="page-header">About me</h1>
                <div ng-repeat="chunk in bio.aboutme">
                    <div ng-if="chunk.type === 'para'">
                        <p ng-show="chunk.text">{{chunk.text}}</p>
                    </div>
                    <div ng-if="chunk.type === 'bullets'">
                        <ul ng-if="chunk.points.length > 0">
                            <li ng-repeat="point in chunk.points">{{point}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->

    <div class="container" ng-controller="educationcontroller">
        <h1 class="page-header" id="education">Education</h1>
        <div ng-repeat="institution in education.institutions">
            <h3 data-toggle="tooltip" data-placement="right" title="{{institution.role}}" tooltip>{{institution.name}} <small>({{institution.duration}})</small></h3>
        </div>
    </div>
    <!-- /container -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Angular -->
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./data/bio.js"></script>
    <script src="./data/education.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/data.js"></script>
    <script src="./js/controllers.js"></script>
    <script src="./js/directives.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $.ready(function(){
            $('[data-toggle="tooltip"]').tooltip({'placement': 'top'});
        });
    </script>
</body>

</html>